@import "typography/fonts";
@import "typography/sizes";
@import "layout/spacing";

// PatternFly Core
@import "../../../@patternfly/patternfly/components/Button/button.scss";

// Components
@import "components/cards";
@import "components/buttons";
@import "components/dynamic-list";
pfe-cta {
  border-radius: 3px;
  a {
    border-radius: 3px;
  }
}

.has-background {
  position: relative;
}

.pfe-headline-link {
  font-weight: 700;
  text-decoration: none;
}
