@import "pf4-import";
@import "layout/breakpoints";
@import "typography/fonts";
@import "typography/sizes";
@import "layout/spacing";

// Components
@import "components/component_base";
@import "components/cards";
@import "components/dynamic-list";
@import "components/rich-text";
@import "components/video-hero";
@import "components/product-download-hero";
@import "components/navigation";

pfe-cta {
  border-radius: 3px;
  a {
    border-radius: 3px;
  }
}

.has-background {
  position: relative;
}

.pfe-headline-link {
  font-weight: 700;
  text-decoration: none;
}
