@import "pf4-import";
@import "colors/base";
@import "colors/_rhd-brand";
@import "layout/breakpoints";
@import "typography/fonts";
@import "typography/sizes";
@import "typography/weights";
@import "typography/typography";
@import "typography/dark";
@import "layout/spacing";

// PatternFly Core
@import "../../../node_modules/@patternfly/patternfly/components/Table/table.scss";

// Components
@import "components/avatar";
@import "components/bonus-content-item";
@import "components/buttons";
@import "components/cta";
@import "components/component-base";
@import "components/visual-styles";
@import "components/bands";
@import "components/buttons";
@import "components/cards";
@import "components/code-snippet";
@import "components/curated-products";
@import "components/divider";
@import "components/curated-links";
@import "components/dynamic-list";
@import "components/icons";
@import "components/rich-text";
@import "components/tables";
@import "components/video-hero";
@import "components/product-download-hero";
@import "components/navigation";
@import "components/footer";
@import "components/jump-to-nav";
@import "components/card-grid";
@import "components/product-download-list";
@import "components/dynamic-content-list";
@import "components/comment-list-card";
@import "components/author-tile";
@import "components/curated-events";
@import "components/events-hero";
@import "components/all-products-listing";
@import "components/collection";
@import "components/pager";
@import "components/topic-page";
@import "components/cta-form";
@import "components/rich-text-columns";
@import "components/featured-evangelists";
@import "components/rhd-top-nav";

pfe-cta {
  border-radius: 3px;
  a {
    border-radius: 3px;
  }
}

.has-background {
  position: relative;
}

.pfe-headline-link {
  font-weight: 700;
  text-decoration: none;
}

.rhd-m-dark {
  background-color: #212121;
  color: #fff;
  thead tr,
  tbody tr * {
    background-color: #212121 !important;
  }

}

h1, h2, h3, h4, h5, h6 {
  &.header-link > a {
    color: inherit;
    &:hover, &:focus, &:active {
        color: inherit;
        text-decoration: var(--pf-global--link--TextDecoration);
    }
  }
}

// Assembly spacing
.assembly.component:first-of-type {
  padding: var(--rhd-theme--container-spacer-xl) var(--rhd-theme--container-spacer-3xl);
}
.assembly.component {
  padding: 0 var(--rhd-theme--container-spacer-3xl) var(--rhd-theme--container-spacer-xl) var(--rhd-theme--container-spacer-3xl);
}
.assembly.component.has-background {
  padding: var(--rhd-theme--container-spacer-lg) var(--rhd-theme--container-spacer-3xl);
}
.assembly.component.has-background + .assembly.component:not(.has-background) {
  padding: var(--rhd-theme--container-spacer-xl) var(--rhd-theme--container-spacer-3xl);
}
