
:root {
  --rhd-c-button--m-primary--BackgroundColor: #0087ce;
  --rhd-c-button--m-primary--hover--BackgroundColor: #0073af;
  --rhd-c-button--m-primary--active--BackgroundColor: #0073af;

  --rhd-c-button--m-secondary--BorderColor: #0066CC;
  --rhd-c-button--m-secondary--Color: #0066CC;

  --rhd-c-button--m-tertiary--Color: #151515;
  --rhd-c-button--m-tertiary--BorderColor: #151515;

  --rhd-c-button--m-danger--BackgroundColor: #ee0000;
  --rhd-c-button--m-danger--hover--BackgroundColor: #cf0000;
  --rhd-c-button--m-danger--active--BackgroundColor: #cf0000;
}
pfe-cta {
  border-radius: 3px;
  a {
    border-radius: 3px;
  }
}

.pf-c-button {
  font-family: var(--pfe-theme--font-family);
}

.pf-c-button.pf-m-link {
  background-color: transparent;
}

.pf-c-button.pf-m-primary {
  background-color: var(--rhd-c-button--m-primary--BackgroundColor);
  &:hover {
    background-color: var(--rhd-c-button--m-primary--hover--BackgroundColor);
  }
}
.pf-c-button.pf-m-primary:active,
.pf-c-button.pf-m-primary.pf-m-active,
.pf-c-button.pf-m-primary:focus,
.pf-c-button.pf-m-primary.pf-m-focus {
  background-color: var(--rhd-c-button--m-primary--active--BackgroundColor);
}
.pf-c-button:disabled,
.pf-c-button.pf-m-disabled {
  background-color: var(--pf-c-button--disabled--BackgroundColor);
}

.pf-c-button.pf-m-secondary {
  color: var(--rhd-c-button--m-secondary--Color);
  border-color: var(--rhd-c-button--m-secondary--BorderColor);
  &:hover {
    color: #fff;
    border-color: var(--rhd-c-button--m-secondary--BorderColor);
    background-color: var(--rhd-c-button--m-secondary--BorderColor);
  }
}
.pf-c-button.pf-m-secondary:active,
.pf-c-button.pf-m-secondary.pf-m-active,
.pf-c-button.pf-m-secondary:focus,
.pf-c-button.pf-m-secondary.pf-m-focus {
  color: #fff;
  border-color: var(--rhd-c-button--m-secondary--BorderColor);
  background-color: var(--rhd-c-button--m-secondary--BorderColor);
}
.pf-c-button.pf-m-secondary.pf-m-disabled {
  color: var(--pf-c-button--disabled--Color);
}

.pf-c-button.pf-m-tertiary {
  color: var(--rhd-c-button--m-tertiary--Color);
  border-color: var(--rhd-c-button--m-tertiary--BorderColor);

  &:hover {
    color: #fff;
    border-color: var(--rhd-c-button--m-tertiary--BorderColor);
    background-color: var(--rhd-c-button--m-tertiary--BorderColor);
  }
}
.pf-c-button.pf-m-tertiary:active,
.pf-c-button.pf-m-tertiary.pf-m-active,
.pf-c-button.pf-m-tertiary:focus,
.pf-c-button.pf-m-tertiary.pf-m-focus {
  color: #fff;
  border-color: var(--rhd-c-button--m-tertiary--BorderColor);
  background-color: var(--rhd-c-button--m-tertiary--BorderColor);
}
.pf-c-button.pf-m-tertiary.pf-m-disabled {
  color: var(--pf-c-button--disabled--Color);
}

.pf-c-button.pf-m-danger {
  background-color: var(--rhd-c-button--m-danger--BackgroundColor);

  &:hover {
    background-color: var(--rhd-c-button--m-danger--hover--BackgroundColor);
  }
}

.pf-c-button.pf-m-danger:active,
.pf-c-button.pf-m-danger.pf-m-active,
.pf-c-button.pf-m-danger:focus,
.pf-c-button.pf-m-danger.pf-m-focus {
  background-color: var(--rhd-c-button--m-danger--active--BackgroundColor);
}

.pf-c-button:disabled,
.pf-c-button.pf-m-disabled {
  background-color: var(--pf-c-button--disabled--BackgroundColor);
}

:host([pfe-priority]) {
  color: #fff;
}
:host([pfe-priority="secondary"]) {
  color: #151515;
}
:host([pfe-priority]):hover {
  color: #fff;
}