.rhd-c-card-grid {
    @extend .pf-u-pt-lg;
    @extend .pf-u-pb-lg;

    h2.pf-c-title {
        @extend .pf-u-w-100;
    }
    .rhd-c-card {
        --pf-l-flex--spacer: var(--pf-l-flex--spacer--none);
        margin-bottom: var(--pf-l-flex--spacer--lg);

        &:last-of-type {
            margin-right: var(--pf-l-flex--spacer--none);
        }

        @media screen and (min-width: $pf-global--breakpoint--md) {
            max-width: 285px;
            --pf-l-flex--spacer: var(--pf-l-flex--spacer--lg);
        }
    }
}

// OTHER VISUAL STYLES
.rhd-c-card-grid {

    &.center {
        h2.pf-c-title {
            text-align: center;
        }

        .rhd-c-card-grid__wrapper {
            @extend .pf-m-justify-content-center;
        }

        .rhd-c-card:last-of-type {
            margin-right: var(--pf-l-flex--spacer--lg);
        }

        .rhd-c-card-grid__cta {
            @extend .pf-m-justify-content-center;
        }
    }

    &.dark {
        background: #252525;

        .pf-c-title {
            color: #FFF;
        }

        .rhd-c-card-grid__cta a,
        .rhd-c-card-grid__cta button{
            @extend .pf-m-secondary-on-dark;
            &::after {
                border: 1px solid var(--rhd-c-button--m-secondary-alt-dark--BorderColor);
            }
        }
    }

    &.no-padding-top {
        @extend .pf-u-pt-0;
    }

    &.no-padding-bottom {
        @extend .pf-u-pb-0;
    }

}

