.rhd-c-card-grid {
    @extend .pf-u-pt-lg;
    @extend .pf-u-pb-lg;

    h2.pf-c-title {
        @extend .pf-u-w-100;
    }
    .rhd-c-card {
        --pf-l-flex--spacer: var(--pf-l-flex--spacer--none);
        margin-bottom: var(--pf-l-flex--spacer--lg);

        &:last-of-type {
            margin-right: var(--pf-l-flex--spacer--none);
        }

        @media screen and (min-width: $pf-global--breakpoint--md) {
            max-width: 285px;
            --pf-l-flex--spacer: var(--pf-l-flex--spacer--lg);
        }
    }
}

.rhd-c-card-grid.center {
    h2.pf-c-title {
        text-align: center;
    }

    .rhd-c-card-grid__wrapper {
        @extend .pf-m-justify-content-center;
    }

    .rhd-c-card:last-of-type {
        margin-right: var(--pf-l-flex--spacer--lg);
    }
}
