.component {
    padding: 0 var(--rhd-theme--container-spacer-2xl);
    .pf-l-grid,
    .pf-l-level {
        max-width: var(--pf-global--breakpoint--2xl);
        margin: 0 auto;
    }
    @media screen and (max-width: $pf-global--breakpoint--md) {
        padding: 0 var(--rhd-theme--container-spacer-xl);
   }    
    @media screen and (max-width: $pf-global--breakpoint--sm) {
         padding: 0 var(--rhd-theme--container-spacer-md);
    }
}