.rhd-c-cta-form {
    .pf-c-form__group {
        margin-top: var(--rhd-theme--container-spacer-lg);

        .pf-c-check,
        .pf-c-radio {
            display: inline-block;
            padding-right: var(--rhd-theme--container-spacer-lg);
        }

        .pf-c-form__label {
            padding: 0;
            margin: 0 var(--rhd-theme--container-spacer-sm) var(--rhd-theme--container-spacer-sm) 0;
        }
    }

    &.dark {
        .pf-c-form__group {
            .pf-c-check,
            .pf-c-radio {
                .pf-c-check__label, .pf-c-radio__label {
                    color: $white;
                }
            }
            .pf-c-form__label {
                color: $white;
            }
        }
    }
}