.assembly-type-featured_products {
  background-color: var(--rhd-gray-2);

  .featured_products__title {
    text-align: center;
  }

  .featured_products__cards {
  }

  &.featured .rhd-c-card {
    border-top: 6px solid var(--rhd-theme--color--ui-accent);
  }
  &.basic .rhd-c-card {
    border-top: none;
  }
  &.dark {
    background: #242424;
    
    & .featured_products__title {
      color: #ffffff;
    }
  }
  &.left {
    .featured_products__title {
      text-align: left;
    }
  }
}
