.product-download-hero {
  .pf-l-level__item {
    &:nth-child(1) {
      width: calc(60% - var(--pf-l-level--m-gutter--MarginRight));
    }

    &:nth-child(2) {
      width: 40%;
    }
  }

  background-size: cover;

  .product-download-hero-header {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      margin-bottom: var(--rhd-theme--container-spacer-md);
    }
  }

  .product-download-hero-body {
    p {
      margin: 0;
      margin-bottom: var(--rhd-theme--container-spacer-md);
    }
  }

  .product-download-hero-footer {}
}