@import "breakpoints";

// Grid breakpoints
$pf-global--breakpoint--xs: map-get($rhd-breakpoints, xsmall);
$pf-global--breakpoint--sm: map-get($rhd-breakpoints, small);
$pf-global--breakpoint--md: map-get($rhd-breakpoints, medium);
$pf-global--breakpoint--lg: map-get($rhd-breakpoints, large);
$pf-global--breakpoint--xl: map-get($rhd-breakpoints, xlarge);
$pf-global--breakpoint--2xl: map-get($rhd-breakpoints, xxlarge);

:root {
    --pf-global--breakpoint--xs: map-get($rhd-breakpoints, xsmall);
    --pf-global--breakpoint--sm: map-get($rhd-breakpoints, small);
    --pf-global--breakpoint--md: map-get($rhd-breakpoints, medium);
    --pf-global--breakpoint--lg: map-get($rhd-breakpoints, large);
    --pf-global--breakpoint--xl: map-get($rhd-breakpoints, xlarge);
    --pf-global--breakpoint--2xl: map-get($rhd-breakpoints, xxlarge);
}

